html, body, #root {
  font: 0.9rem sans-serif;
  background: #d4d4d4;
  color: #252525;
  margin: 0;
}

#heading {
  font-family: 'Gill Sans';
  margin: 0;
  margin-left: 1rem;
}

.input-label {
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin-bottom: 4px;
}

.header {
  width: 100%;
  display: flex;
  height: 4.5rem;
  padding: 5px;
  background-color: #fffdfd;
  box-shadow: 1px 2px 20px 10px rgba(50, 50, 50, 0.2);
  align-items: center;
}

.geocoder {
  position: absolute;
  display: flex;
  align-self: flex-end;
  margin-right: 3%;
  top: 1.2rem;
}

.mapboxgl-ctrl-geocoder {
  height: 2.8rem;
  display: flex;
  align-items: center;
}

.mapboxgl-ctrl-geocoder--icon-search {
  display: none !important;
}

.main {
  display: flex;
  flex-direction: column;
}

.main-container {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

#logo {
  width: 4.2rem;
  height: 4.2rem;
  margin-left: 3vw;
  z-index: 1;
  align-self: center;
}

.add-button-div {
  display: flex;
  align-self: flex-end;
  align-items: center;
  margin: 10px;
  width: 4rem;
  height: 4rem;
  position: absolute;
  bottom: 4%;
  z-index: 1;
}

#add-button {
  fill: rgb(2, 7, 71);
  width: auto;
  height: auto;
  cursor: pointer;
}

.close-button-div {
  background-color: rgb(245, 242, 237);
  display: flex;
  align-self: center;
  align-items: center;
  margin: 8px;
  width: 2rem;
  height: 2rem;
}

#close-button {
  fill: rgb(2, 7, 71);
  rotate: 45deg;
  align-self: center;
  height: auto;
  width: auto;
  cursor: pointer;
}

.new-campground-container {
  margin-top: 20%;
  position:absolute;
  display: flex;
  flex-direction: column;
  padding: 4% 4% 4% 4%;
  bottom: 5%;
  left: 10%;
  right: 10%;
  align-items: center;
  background-color: rgb(245, 242, 237);
  box-shadow: 1px 2px 20px 10px rgba(50, 50, 50, 0.2);
  height: 70%;
  border-radius: 10px;
  z-index: 100;
}

fieldset {
  border: 0;
  width: 100%;
  height: 100%;
}

form {
  width: 100%;
  height: 100%;
}

.sub-entry {
  width: 50%;
  float: left;
}

img {
  width: 100%;
}

.marker {
  background-image: url('./assets/location-pin.png');
  background-size: cover;
  width: 30px;
  height: 40px;
  cursor: pointer;
  position: absolute;
}

.mapboxgl-ctrl-scale {
  background-color: rgba(227, 227, 227, 0.605);
  border-width: 1.5px;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

/* popup styling */

.mapboxgl-popup-content {
  padding: 0;
  width: 100%;
  border-radius: 10px;
  box-shadow: 5px 10px 20px 5px rgba(81, 81, 81, 0.2);
}

img {
  border-radius: 10px 10px 0px 0px;
}

h3 {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  font-family: 'Gill Sans', sans-serif;
}

p {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 400px) {
  .add-button-div {
    align-self: center;
  }
  .mapboxgl-ctrl-geocoder--input {
    width:150px!important;
  }
}

@media only screen and (max-width: 450px) {
  #logo {
    margin-left: 0;
  }

  fieldset {
    height: 10%;
  }

  form {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .sub-entry {
    width: 100%;
    margin-top: 3%;
  }
  .new-campground-container{
    top: 5%;
    overflow-y: scroll;
    height: 75%
  }

  .space-bottom {
    margin-bottom: 3%;
    visibility: hidden;
  }

  .space-middle {
    margin: 20% 0;
    visibility: hidden;
  }

  .file-input-container {
    margin-bottom: 15px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }
  
  .preview-div {
  
    width: 100%;
    /* display: flex; */
    /* align-self: flex-start; */
    position:relative;
    left: 0;
    /* right: -50px; */
    margin-top: 60px;
    margin-left: 5%;
  
  }
  
  #preview-img {
    border-radius: 3px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }



}

@media only screen and (max-width: 640px) {
  #heading {  
    visibility: hidden;
  }
}