.file-input-container {
  margin-bottom: 15px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.preview-div {
  height: 25%;
  width: 20%;
  /* display: flex; */
  /* align-self: flex-start; */
  position: absolute;
  left: 0;
  /* right: -50px; */
  margin-top: 60px;
  margin-left: 5%;

}

#preview-img {
  border-radius: 3px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.head-new-campground {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#create-button {
  position: flex;
  margin-top: 15px;
  border: 1.5px solid #d14545 ;
  color: #d14545;
  background-color: white;
  font-size: medium;
  padding: 12px;
  border-radius: 3px;
  font-weight: bold;
  font-family: 'Gill Sans', sans-serif;
  float: right;
  cursor: pointer;
}

input {
  border: 0;
  background-color: white;
  width: 75%;
  padding: 10px;
  border-radius: 3px;
}

textarea {
  border: 0;
  background-color: white;
  width: 75%;
  max-width: 75%;
  height: 60px;
  max-height: 60px;
  resize: none;
  padding: 10px;
  border-radius: 3px;
  font-family: Arial, sans-serif;
}

::-webkit-file-upload-button {
  border: 0.7px solid grey;
  background-color: white;
  padding: 8px;
  margin-right: 10px;
  border-radius: 3px;
}

#choose-file {
  color: #787878;
}