.set-location-map-container {
  width: 100%;
  height: 20rem;
}

.add-location-map {
  height: 100%;
  width: 100%;
  border-radius: 3px;
}

.pin {
  background-image: url('../assets/location-pin.png');
  position: absolute;
}

